   <div class="container-fluid bg-secondary m-4" style="height : 100vh">
   <a href="/productos" class="btn btn-warning">Volver a productos</a> 
   <br>    
    <div class="row justify-content-center">
    <div class="col-12">
        <br>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                <h4 class="card-title">{{producto.nombre}}</h4>
                <p class="card-text">{{producto.descripcion}}</p>
                <p class="card-text">Precio: {{producto.precio}}</p>
                <p class="card-text">Stock: {{producto.stock}}</p>
                <p class="card-text">Categoria: {{producto.nombreCategoria}}</p>
                <img src="/images/{{producto.uid}}" class="card-img-top" alt="no hay imagen">
</div>
</div>
</div>
</div>
</div>